div {
    background-color: slateblue;
    h1 {
        background-color: blue;
        display: flex;
        justify-content: center;
        color: $textColor;
    }
    button {
        background: $primaryBTN;
        &:focus {
            content: "allo sti";
        }

        &:hover {
            background-color: steelblue;
        }
    }
}