// Variables de couleurs
$fond: #101832;
$bleuFond:#1C2C5C;
$blanc:#E3E3E3;
$bleu:#2CD9FF;

#header{
    background-color: $fond;
    color:#fff;
}
#info{
    background-color:$bleuFond;
}
#voirProjets{
    background-color: $fond;
}
#inscription{
    background-color:$bleuFond;
}
#footer{
    background-color: $fond;
}