@font-face {
  font-family: CastIron;
  src: url("/medias/fonts/CastIron.otf") format("opentype");
}

@font-face {
  font-family: Manrope;
  src: url("/medias/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

a {
  color: #e3e3e3;
}

a:hover {
  color: #2cd9ff;
  text-decoration: none;
}

#info {
  background-color: #101832;
}

#infoBloc {
  width: 80vw;
  padding: 1em 1em 3em 1em;
  margin: 0 auto;
  background-color: #E3E3E3;
  font-family: Manrope;
  -webkit-box-shadow: -5px 5px 0px 1px #000;
          box-shadow: -5px 5px 0px 1px #000;
}

#infoBloc h1 {
  font-family: CastIron;
  font-size: 2em;
}

#infoBoutons {
  display: none;
}

#voirProjets {
  background-color: #101832;
}

#inscription {
  background-color: #1c2c5c;
}

@media (min-width: 600px) {
  body {
    background: red;
  }
<<<<<<< HEAD
  #navMobile,
  #checkNav {
    display: none;
  }
=======
>>>>>>> ec5ac2c2bb3e53f08e27d6b0bee1d0501108515d
  #header {
    background-color: #101832;
    color: #fff;
  }
  #header nav {
    background-color: #1c2c5c;
    margin-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  #header nav ul li {
    display: inline-block;
    padding: 0.5em;
    font-family: CastIron;
    font-size: 2em;
  }
  #header nav ul #actif {
    padding: 1em;
    background-color: #000;
    z-index: 2;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #infoBloc {
<<<<<<< HEAD
    background-color: #e3e3e3;
    font-family: Manrope;
    width: 60%;
    margin-left: 2em;
=======
    width: 60vw;
>>>>>>> ec5ac2c2bb3e53f08e27d6b0bee1d0501108515d
    padding: 1em 4em 1em 1em;
    margin-left: 2em;
    position: relative;
  }
  #infoBoutons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    right: -5.5em;
    top: 0;
  }
  #infoBoutons button {
    background-color: #1c2c5c;
    padding: 10px;
    margin-top: 0.5em;
    font-family: CastIron;
    font-size: 1.5em;
    color: #e3e3e3;
    letter-spacing: 0.08em;
    -webkit-box-shadow: -3px 3px 0px 1px #2cd9ff;
            box-shadow: -3px 3px 0px 1px #2cd9ff;
  }
  #infoBoutons button:hover {
    background-color: #101832;
<<<<<<< HEAD
    -webkit-box-shadow: -3px 3px 0px 1px #2cd9ff;
            box-shadow: -3px 3px 0px 1px #2cd9ff;
=======
>>>>>>> ec5ac2c2bb3e53f08e27d6b0bee1d0501108515d
  }
}

@media (min-width: 1200px) {
  body {
    background: pink;
  }
<<<<<<< HEAD
  #header {
    background-color: #101832;
    color: #fff;
  }
  #header nav {
    display: block;
    background-color: #1c2c5c;
  }
  #header nav ul {
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  #header nav ul li {
    display: inline-block;
    padding: 0.5em;
    font-family: CastIron;
    font-size: 2em;
  }
  #header nav ul li:nth-child(3) {
    margin-right: 9em;
  }
  #header nav ul #actif {
    padding: 1em;
    background-color: #000;
    position: absolute;
    left: 36%;
    top: -50%;
    z-index: 2;
  }
  #header nav ul li:hover {
    color: #2cd9ff;
  }
=======
>>>>>>> ec5ac2c2bb3e53f08e27d6b0bee1d0501108515d
}
/*# sourceMappingURL=accueil.css.map */