// Variables de couleurs
$fond: #101832;
$bleuFond:#1C2C5C;
$blanc:#E3E3E3;
$bleu:#2CD9FF;

@font-face {
    font-family: CastIron;
    src: url("/medias/fonts/CastIron.otf") format("opentype");
}
@font-face {
    font-family: Manrope;
    src: url("/medias/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

a{
    color:$blanc;
}
a:hover{
    color:$bleu;
    text-decoration: none;
}

//DEBUT CSS - - - MOBILE FIRST      --------------------------------------------------------------------------------------------------------------------------------

nav{
    background-color: $fond;
    display:none;
    }

#navMobile{
    background: linear-gradient(to bottom,rgba(2,0,36,1) 0%, rgba(2,0,36,1) 20%, transparent 20%, transparent 40%, rgba(2,0,36,1) 40%, rgba(2,0,36,1) 60%, transparent 60%, transparent 80%, rgba(2,0,36,1) 80%, rgba(2,0,36,1) 100%);
    height: 48px;
    width: 48px;
    position : absolute;
    margin: 1%;
	right : 10px;
	cursor: pointer;
	align-self:  flex-end;
    z-index : 999;
    }
          
#checkNav:checked~#navMobile {
    transform: rotate(90deg);
  }

#checkNav:checked~#global {
    transform:translateY(100%)
    }
    
#checkNav ~ #global {
    transform: translateY(0%);
    }
    
#checkNav{
    display:none;
    }

#voirProjets{
    background-color: $fond;
}
#inscription{
    background-color:$bleuFond;
}
#footer{
    background-color: $fond;
}

// FIN MOBILE FIRST



//DEBUT TABLETTE    --------------------------------------------------------------------------------------------------------------------------------------

@media (min-width: 600px) {
    body {
      background: red;
    }
    #navMobile, #checkNav{
        display:none;
    }
    #header{
        background-color: $fond;
        color:#fff;
        nav{
           
            background-color: $bleuFond;
            // margin-top:3em;
            display:flex;
            justify-content: center;
             width: 100%;
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                margin:0 auto;
        
                li{
                    display: inline-block;
                    padding:.5em;
                    font-family:CastIron;
                    font-size: 2em;
                   
                }
                // li:nth-child(3) {
                //     margin-right:9em;
                // }
                 #actif{
                     padding:1em;
                     background-color: #000;
                     z-index:2;
                     align-items: flex-end;
                 }
            }
        }

    }
    #info{
        background-color:$fond;
    }
    #infoBloc{
        background-color: $blanc;
        font-family: Manrope;
        width:60%;
        margin-left:2em;
        padding:1em 4em 1em 1em;
        position:relative;
        h1{
            font-family: CastIron;
            font-size: 1.5em;
        }
    }
    #infoBoutons{
        display: flex;
        flex-flow:column;
        position:absolute;
        right:-5.5em;
        top:0;
        button{
            background-color: $bleuFond;
            padding:10px;
            margin-top: .5em;
            font-family: CastIron;
            font-size:1.5em;
            color: $blanc;
            letter-spacing: .08em;
            box-shadow: -3px 3px 0px 1px $bleu;
        }
        button:hover{
            background-color: $fond;
            box-shadow: -3px 3px 0px 1px $bleu;
        }
    }
    
  }


  //FIN TABLETTE        ----------------------------------------------------------------------------------------------------------------------------------------------
  
  //DEBUT GRANDS ECRANS
@media (min-width: 1200px) {
    body {
      background: pink;
    }

    #header{
        background-color: $fond;
        color:#fff;
        height: 100vh;
        #barreDuHaut {
            
        }
        nav{
            display: block;
            background-color: $bleuFond;
            // margin-top:3em;
            ul{
                margin:0 auto;
                text-align: center;
                position:relative;
        
                li{
                    display: inline-block;
                    padding:.5em;
                    font-family:CastIron;
                    font-size: 2em;
                }
                li:nth-child(3) {
                    margin-right:9em;
                }
                #actif{
                    padding:1em;
                    background-color: #000;
                    position: absolute;
                    left:36%;
                    top:-50%;
                    z-index:2;
                }
                li:hover{
                    color:$bleu;
                }
            }
        }

        #caroussel {
            height: 700px;
            #caroussel-images {
                height: 100%;
                ul {
                    height: 100%;
                    li {
                        height: 300px;

                    }
                }
            }
        }

    }
   
  }
  //FIN GRANDS ECRANS
