$fond: #101832;
$bleuFond: #1c2c5c;
$blanc: #e3e3e3;
$bleu: #2cd9ff;
//DEBUT CSS MOBILE FIRST-----------------------------
* {
  background-color: $fond;
}
//FIN MOBILE FIRST------------------------------------
//DEBUT TABLETTE---------------------------------------
@media (min-width: 600px) {
  #navMobile,
  #checkNav {
    display: none;
  }

  nav {
    background-color: $bleuFond;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #header {
    background-color: $fond;
    color: #fff;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      li {
        display: inline-block;
        padding: 0.5em;
        font-family: CastIron;
        font-size: 2em;
      }

      li:hover {
        color: $bleu;
      }
    }
  }
}
//FIN TABLETTE---------------------------------------------------------------------------------------

//DEBUT GRANDS ECRANS--------------------------------------------------------------------------------
@media (min-width: 1200px) {
  body {
    background: pink;
  }
}
//FIN GRANDS ECRANS
