#navMobile, #checkNav{
    display:none;
}
nav{display: block;}
#header{
    background-color: $fond;
    color:#fff;
    ul{
        margin:0 auto;
        text-align: center;

        li{
            display: inline-block;
            padding:.5em;
            font-family:CastIron;
            font-size: 2em;
        }
        li:hover{
            color:$bleu;
        }
    }
}